* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#arena {
  width: 100%;
  height: 100%;
  background-image: url("https://imgs.search.brave.com/lbT1GHgUxNcY0uoMYyQWD0BY8sXlcPD4xsgmtraflaM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/dmV0b3Jlcy1wcmVt/aXVtL2Z1bmRvLWRl/LWNhbXBvLWRlLWZ1/dGVib2wtZGUtZnV0/ZWJvbF82NDc0OS0y/ODguanBnP3NlbXQ9/YWlzX2h5YnJpZCZ3/PTc0MCZxPTgw");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

#bola {
  width: 4rem; 
  height: 4rem;
  background-image: url("ChatGPT Image 26 de mai. de 2026, 08_45_02.png");
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
}

button{
    width: 6rem;
    justify-content:space-between;
    cursor:pointer;
}
